.cursor-main {
  --size: 46px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50px;
  pointer-events: none;
  z-index: 2147483647;
  background-color: #e6c3ff;
  box-shadow: 0px 0px 30px 0px rgb(175, 131, 255);
  mix-blend-mode: difference;
  will-change: transform;
  transition: width 0.3s ease-out, height 0.3s ease-out;
  opacity: 0;
}
.cursor-active {
  opacity: 1;
}
.cursor-icons {
  top: 10px;
  left: 10px;
  height: calc(var(--cursorH) - 20px);
  transition: all 0.5s ease-out, height 0.5s ease-in-out;
}
.cursor-disable {
  --size: 0px;
}

@media (hover: hover) and (pointer: fine) {
  .custom-cursor-enabled,
  .custom-cursor-enabled * {
    cursor: none !important;
  }

  .custom-cursor-enabled.cursor-native-visible,
  .custom-cursor-enabled.cursor-native-visible * {
    cursor: auto !important;
  }
}

@media (max-width: 899px), (hover: none), (pointer: coarse) {
  .cursor-main {
    display: none !important;
  }
}
